<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main-container bg-zinc-900 p-10 w-full min-h-screen text-white">
        <h1 class="text-2xl mb-5">Create User Here !</h1>
        <form action="/create" method="post">
            <input class=" px-4 py-2 bg-zinc-600 outline-none rounded-lg " placeholder="Name" name="name">
            <input class=" px-4 py-2 bg-zinc-600 outline-none rounded-lg " placeholder="Email" name="email">
            <input class=" px-4 py-2 bg-zinc-600 outline-none rounded-lg " placeholder="Username" name="username">
            <input class=" px-4 py-2 bg-zinc-600 outline-none rounded-lg " placeholder="Password" name="password">
            <input type="submit" value="Register" class="px-6 py-2 bg-blue-500 rounded-md">
        </form>
        <div class="mt-5">
            <span>Already have an account ? </span>
            <a href="/login" class="text-blue-500 ml-2">Login</a>
        </div>
    </div>
</body>
</html>
























































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="bg-zinc-900 p-10 text-white w-full min-h-screen">
        <h1 class="mb-5 text-2xl" >Create User</h1>
        <form action="/register" method="post">
            <input class="px-3 py-2 bg-zinc-600 outline-none rounded-lg" placeholder="Name" type="text" name="name">
            <input class="px-3 py-2 bg-zinc-600 outline-none rounded-lg" placeholder="Email" type="email" name="email">
            <input class="px-3 py-2 bg-zinc-600 outline-none rounded-lg" placeholder="Username" type="text" name="username">
            <input class="px-3 py-2 bg-zinc-600 outline-none rounded-lg" placeholder="Password" type="password" name="password">
            <input class=" px-4 py-2 bg-blue-500 outline-none rounded-md" value="Create" type="submit">
        </form>
        <div class="mt-5">
            <span>Already have an account ? </span>
            <a href="/login" class="text-blue-500 ml-2">Login</a>
        </div>
    </div>
</body>
</html> -->